{% load mix %}
{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    {% block head_js %}{% endblock %}
    <!-- Include Tailwind CSS v3 -->
    {% block head_css %}
    {% compress css %}
    <link href="{% static 'siteplan/css/app.css' %}" rel="stylesheet">
    {% endcompress %}
    {% endblock %}
</head>
<body class="bg-blue-900" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <!-- Header -->
    <header class="bg-blue-900 text-white py-4 flex items-center">
        <div class="container mx-auto text-center">
              <h1 class="text-6xl font-bold text-white-900">Siteplan</h1>
              <p class="text-lg text-gray-500">Start small, grow big</p>
        </div>
    </header>

    <!-- Body -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="bg-blue-900 text-white py-4">
      <div class="text-center mt-8">
        <a id="btn-learn-more" hx-post="/hello/" hx-confirm class="bg-white text-blue-900 hover:bg-blue-700 text-xl font-semibold py-3 px-6 rounded-full inline-block transition duration-300 ease-in-out">
            Learn More
        </a>
      </div>
    </footer>

    <!-- Copyright Notice -->
    <div class="bg-blue-900 text-white text-center py-2">
        &copy; 2023 Kamal Mustafa. All Rights Reserved.
    </div>

</body>
{% compress js %}
<script src="{% static 'siteplan/js/main.js' %}" type="text/javascript"></script>
{% endcompress %}
</html>
