{% extends "siteplan/base.html" %}
{% load static %}

{% block content %}
<main class="py-4 flex items-center bg-white">
  <div class="container mx-auto text-center">
        <h2 class="text-4xl mt-4 text-blue-500 font-bold">What?</h1>
        <p class="text-lg">
          A new way to build Django website. Get away from the initial boilerplate project and apps. Siteplan comes with CMS, e-commerce store, payment gateway, task queue and many more features commonly found in modern websites.
        </p>
        <h2 class="text-4xl mt-4 text-blue-500 font-bold">Quickstart</h1>
        <p class="text-lg">
          Run the following command:-
        </p>
        <pre class="text-left">
          pip install siteplan
        </pre>
  </div>
</main>
{% endblock %}
